@{
    ViewBag.Title = "_maestras";
}
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/MisEstilos/MaestraPrincipal.css" />
    <link rel="stylesheet" href="~/Content/MisEstilos/Racionamiento.css"/>
    <link rel="shortcut icon" href="~/Imagenes/Favicon/ssypc.ico" />
    
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<title>@ViewBag.Title</title>*@
    <title>Pagina Principal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
      @RenderBody()
   
    <header>
        <br />
    <div class="container-fluid " id="men">
        
 
        <nav class="navbar navbar-default  navbar-inverse ">

            <div class="container-fluid ">
                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle collapsed" data-toogle="collapsed" data-target="navbar-1">
                    <span class="sr-only">menu </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                    
                </div>

                <div class="collapse navbar-collapse" id="navbar-1">

                    <ul class="nav navbar-nav ">

                        <li class="dropdown "> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Inventario ABC <span class="caret" ></span>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/InventtarioABC/AltaProducto">Alta Producto </a></li>
                                <li><a href="~/InventtarioABC/BajaProducto">Baja Producto</a></li>
                                <li><a href="~/InventtarioABC/CosultaProducto">Consulta Producto</a></li>
                            </ul>
                          
                       </li>

                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Responsable ABC <span class="caret" ></span>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> Alta Responsable </a></li>
                                <li><a href="#">Baja Responsable</a></li>
                                <li><a href="#">Consulta Responsable</a></li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> 
                                 Menus <span class="caret" ></span>
                             </a>
                            <ul class="dropdown-menu">
                              <li><a href="#"> Desayuno </a></li>
                                <li><a href="#">Comida</a></li>
                                <li><a href="#">Cena</a></li>

                            </ul>

                        </li>
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Generar Reportes <span class="caret" ></span>

                            </a>
                             <ul class="dropdown-menu">
                              <li><a href="#"> Justificaciones </a></li>
                             </ul>


                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                 Peticiones Especiales ABC <span class="caret" ></span>

                             </a>
                            
                             <ul class="dropdown-menu">
                                  <li><a href="#"> Alta Pedido </a></li>
                                  <li><a href="#">Baja Pedido</a></li>
                                  <li><a href="#">Consulta Pedido</a></li>

                            </ul></li>

                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                 Proveedores ABC <span class="caret"></span> 

                             </a>
                            <ul class="dropdown-menu">
                                  <li><a href="#"> Alta Proveedor </a>
                                  </li>
                                  <li><a href="#">Baja Proveedor</a></li>
                                  <li><a href="#">Consulta Proveedor</a></li>
                            </ul>
                        </li>
                        <li > <a href="~/Racionamiento/racionamientoV">RACIONAMIENTO</a></li>
                        <li class="sam2"> <a href="~/Start/IniciaSesion">Exit</a></li>
                        
                        </ul>



                </div>

            </div>




        </nav>
       </div>
         <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  </header>
     <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>


